<div class="container col-md-12 col-sm-12" style="margin-top: 10px">
  <table class="table table-bordered table-sm m-0">
    <thead>
      <tr style="font-weight: bold;">
        <th style="text-align: center">
          Código
        </th>
        <th style="text-align: center">
          Descricao
        </th>
        <th style="text-align: center">
          Status
        </th>
        <th style="text-align: center; width:  10%">
          <a (click)="novo()" class="btn btn-success btn-sm">
            <i class="fa fa-plus-square" style="color: white"></i>
          </a>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let reg of list">
        <td>{{reg.codigo}}</td>
        <td>{{reg.descricao}}</td>
        <td>{{reg.status.descricao}}</td>
        <td style="text-align: center">
          <a (click)="select(reg.id)" class="btn btn-primary btn-sm">
            <i class="fa fa-edit" style="color: white"></i>
          </a>
          <a (click)="delete(reg.id)" class="btn btn-danger btn-sm">
            <i class="fa fa-close" style="color: white"></i>
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
