<div class="col-md-12 container">
  <div class="form-inline">
    <div class=" form-group col-md-12">
      <label class="label10">Cdigo:</label>
      <input type="number" [(ngModel)]="task.codigo" class="form-control input-sm">
    </div>
    <div class=" form-group col-md-12">
      <label class="label10">Descrição:</label>
      <input type="text" [(ngModel)]="task.descricao" class="form-control input-sm">
    </div>
    <div  class=" form-group col-md-12">
      <label class="label10">Data:</label>
      <input type="date" [(ngModel)]="task.dtInclusao" class="form-control input-sm">
    </div>
    <div  *ngIf="task.status == 'FECHADO'" class=" form-group col-md-12">
      <label class="label10">Data Conclusão:</label>
      <input type="date" [(ngModel)]="task.dtConclusao" class="form-control input-sm">
    </div>
    <div class=" form-group col-md-12">
      <label class="label10">Status:</label>
      <select class="custom-select" [(ngModel)]="task.status">
        <option *ngFor="let r of status" value="{{r.value}}">{{r.descricao}}</option>
      </select>
    </div>
  </div>
</div>
<div class="page-footer">
  <div class="col-md-12" style="text-align: right">
    <button class="btn btn-success btn-sm"  type="button"  style="width: 110px" (click)="salvar()">
      <span class="fa fa-save" style="color: white"></span>  Salvar
    </button>
    <button  type="button" style="width: 110px" class="btn btn-danger btn-sm" [routerLink]="['/tasks']">
      <span class="fa fa-undo" style="color: white"></span>  Voltar
    </button>
    
  </div>
</div>
